/* Responsive CSS Styles Table of Contents */

@media only screen and (min-width: 1000px) and (max-width: 1169px){
.container {
	width: 1000px;
	margin: auto;
}

.title1 h2{
    font-size: 30px;
}
.title1 h2 em{
	margin-top: 0px;
}

.title2 h2{
    font-size: 30px;
}
.title2 h2 em{
	margin-top: 0px;
}

.features_sec3 .box .right {
	width: 73%;
	margin-left: 7%;
}

.parallax_section1 h2 {
	width: 61%;
}
.parallax_section1 p {
	width: 61%;
}

.features_sec6 .rbox {
	width: 50%;
	padding: 75px 55px 0px 55px;
}

.features_sec8 .right {
	padding-top: 0px;
}
.features_sec8 .right h1 {
	font-size: 30px;
	margin-bottom: 10px;
}

.features_sec8 .left img {
	width: 100%;
}

.features_sec9 .tbox img {
	width: 100%;
}

.features_sec14 img {
	width: 100%;
}

.features_sec13 img {
	width: 100%;
}

.newsletter_two input.enter_email_input {
	width: 170px;
}
.newsletter_two .input_submit {
	padding: 16px 14px 15px 14px;
}
.features_sec33 .center img {
	width: 100%;
}

.features_sec38 p {
	width: 90%;
}

.features_sec39 .box1 .hovcont {
	padding: 10px 25px;
}
.features_sec39 .box1 .hovcont h2 {
	font-size: 25px;
	margin-bottom: 0px;
}
.features_sec39 .box1 .hovcont h5 {
	font-size: 14px;
	line-height: 16px;
}
.features_sec39 .box2 .hovcont,
.features_sec39 .box3 .hovcont {
	padding: 8px 14px;
}
.features_sec39 .box2 .hovcont h3,
.features_sec39 .box3 .hovcont h3 {
	font-size: 18px;
	margin-bottom: 3px;
	line-height: 23px;
}
.features_sec39 .box2 .hovcont h5,
.features_sec39 .box3 .hovcont h5 {
	font-size: 12px;
	line-height: 14px;
}

.parallax_section6 .box {
	margin-left: 2%;
}


.features_sec45 .box {
	margin-left: 22%;
}

.clogo_small li h6 {
	margin-top: 12px;
}

.features_sec64 .flips1_front img {
	height: auto;
}

.blog_postcontent .video_frame iframe {
	height: 325px;
}



/* UPDATED VERSION 1.2 */
.slidercform2 {
	width: 380px;
	padding: 30px 35px 40px 35px;
	margin-right: 50px;
	margin-top: -410px;
}
.slidercform2 strong {
	font-size: 22px;
}
.slidercform2 strong em {
	font-size: 13px;
	margin-top: 5px;
}
.slidercform2 .sky-form .input input,
.slidercform2 .sky-form .select select {
	width: 100%;
}

.headerport .boxsize1 {
	height: 250px;
}
.headerport .boxsize2 {
	height: 125px;
}
.headerport .boxsize3 {
	height: 125px;
}
.headerport .boxsize4 {
	height: 375px;
}

.headerport .boxsize1 img{
	height: 250px;
}
.headerport .boxsize2 img{
	height: 125px;
}
.headerport .boxsize3 img{
	height: 125px;
}
.headerport .boxsize4 img{
	height: 375px;
}

.headerport .boxsize2 .onlycolor {
	height: 125px;
}
.headerport .boxsize3 .onlycolor {
	height: 125px;
}

.headerport .boxsize1 h3 {
  font-size: 18px;
}
.headerport .boxsize2 h3 {
  font-size: 14px;
}
.headerport .boxsize3 h3 {
  font-size: 14px;
}
.headerport .boxsize4 h3 {
  font-size: 18px;
}

.stheader3 {
	height: 625px;
}
.textyslider {
	margin-bottom: 50px;
}
.textyslider p {
	width: 80%;
}

.parallax_section4 label {
	width: 70%;
	margin: 10px;
}

.parallax_section4 button {
	width: 70%;
	    margin-top: 20px;
}

.parallax_section4 input {
	width: 70%;
	margin-left: 10px;
	background-color: #d4d4d4;
	color:#000;
}

.parallax_section4 .setutech-form {
	
	padding: 10px 0px 25px 0px;
    background-color: #000;

}

.sky-form2 {
	margin: 0;
	outline: none;
	font: 14px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
	color: #272727;
	
}

.w3-teal, .w3-hover-teal:hover {
    color: #fff!important;
    background-color: #000!important;
}

.w3-right {
    float: right!important;
}

.w3-xlarge {
    font-size: 20px!important;
}


.w3-btn, .w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.w3-btn, .w3-button {
    color: #000;
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 30px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    margin-top: -55px;
    margin-right: 10px;
}

.w3-bar-block .w3-bar-item

{

	color: #000;
	width:100%;
	padding:8px 30px;
	text-align:left;
	border:none;
	outline:none;
	white-space:normal;
	float:none;
	margin: 5px 0px 0px 0px;

}

.w3-block {
    display: inline;
    width: 100%;
}

.w3-left-align {
    text-align: left!important;
    margin-top: 10px;

}

.w3-left-align-submenu {
    text-align: left!important;
    margin-top: 10px;
  
}



}


@media only screen and (min-width: 768px) and (max-width: 999px){
.container {
	width: 747px;
	margin: auto;
}

.menu_main {
	width: 75%;
	margin-top: 5px;
}
.menu_right {
	display: none;
}
.menu_right2 {
	display: none;
}

.title1 h2{
    font-size: 30px;
}
.title1 h2 em{
	margin-top: 0px;
}
.title1 .line{
    width: 47%;
	margin-left: 26.5%;
}

.title2 h2{
    font-size: 30px;
}
.title2 h2 em{
	margin-top: 0px;
}
.title2 .line{
    width: 43%;
	margin-left: 28%;
}

.features_sec3 .box .right {
	width: 65%;
	margin-left: 9%;
}

.parallax_section1 h2 {
	width: 70%;
}
.parallax_section1 p {
	width: 70%;
}

.features_sec6 .fimg {
	width: 35%;
}
.features_sec6 .rbox {
	width: 65%;
	padding: 55px 30px 0px 30px;
}

.features_sec8 .right {
	padding-top: 0px;
	width: 80%;
	margin-left: 7%;
	margin-right: 8%;
	
}
.features_sec8 .left {
	float: none;
	width: 40%;
	margin: 0 auto;

}

.features_sec8 .right img{

width: 100%;

}

.features_sec8 .left img {
	width: 100%;
}

.features_sec9 .tbox img {
	width: 100%;
}

.features_sec14 img {
	width: 100%;
}

.features_sec13 img {
	width: 100%;
}

.footer .top_footer .colleft,
.footer .top_footer .colright {
	width: 45%;
}
.footer .top_footer .colcenter {
	width: 10%;
}
.newsletter_two input.enter_email_input {
	width: 125px;
}
.newsletter_two .input_submit {
	padding: 16px 10px 15px 10px;
}

.features_sec30 .left {
	width: 20%;
}
.features_sec30 .right {
	width: 80%;
}

.features_sec33 .center img {
	width: 100%;
}

.features_sec38 p {
	width: 85%;
}

.features_sec39 .box1 .hovcont {
	padding: 10px 20px;
}
.features_sec39 .box1 .hovcont h2 {
	font-size: 23px;
	margin-bottom: 0px;
}
.features_sec39 .box1 .hovcont h5 {
	font-size: 13px;
	line-height: 16px;
}
.features_sec39 .box2 .hovcont,
.features_sec39 .box3 .hovcont {
	padding: 8px 10px;
}
.features_sec39 .box2 .hovcont h3,
.features_sec39 .box3 .hovcont h3 {
	font-size: 16px;
	margin-bottom: 3px;
	line-height: 21px;
}
.features_sec39 .box2 .hovcont h5,
.features_sec39 .box3 .hovcont h5 {
	font-size: 10px;
	line-height: 14px;
}

.features_sec40 .rimg {
	width: 100%;
}

.parallax_section6 .box {
	margin-top: 75px;
	margin-left: 2%;
}
.hexagon {
	width: 130px;
	height: 85px;
	margin-right: 16px;
}
.hexagon.two {
	margin-left: 73px;
}
.hexagon.three,
.hexagon.four,
.hexagon.five {
	margin-left: 16px;
}
.hexagon:before {
	top: -35px;
	border-left: 65px solid transparent;
	border-right: 65px solid transparent;
	border-bottom: 35px solid rgba(255, 255, 255, 0.9);
}
.hexagon:after {
	bottom: -35px;
	border-left: 65px solid transparent;
	border-right: 65px solid transparent;
	border-top: 35px solid rgba(255, 255, 255, 0.9);
}
.haxmargin {
	margin-top: 50px;
}
.hexagon:hover:before {
	border-bottom: 35px solid rgba(0, 0, 0, 0.8);
}
.hexagon:hover:after {
	border-top: 35px solid rgba(0, 0, 0, 0.8);
}
.hexagon i {
	font-size: 20px;
	margin-bottom: 5px;
}
.hexagon h6 {
	font-size: 14px;
	margin-bottom: 4px;
}
.hexagon p {
	font-size: 12px;
	line-height: 14px;
}

.features_sec45 .box {
	margin-left: 13.5%;
}

.page_title3 {
	padding: 100px 0px 100px 0px;
}
.page_title3 h5 {
	width: 100%;
	font-size: 16px;
	line-height: 27px;
}

.clogo_small li h6 {
	font-size: 12px;
	margin-top: 5px;
}

.features_sec64 .flips1_front img {
	height: auto;
}

.blog_postcontent .video_frame iframe {
	height: 280px;
}


/* UPDATED VERSION 1.2 */
.slidercform2 {
	width: 340px;
	padding: 20px 25px 30px 25px;
	margin-right: 59px;
	margin-top: -280px;
}
.slidercform2 strong {
	font-size: 22px;
}
.slidercform2 strong em {
	font-size: 12px;
	margin-top: 5px;
}
.slidercform2 .sky-form .input input,
.slidercform2 .sky-form .select select {
	width: 100%;
	padding: 5px 8px;
}
.slidercform2 .sky-form .textarea textarea {
	padding: 5px 8px;
}
.slidercform2 span {
	margin-top: 10px;
}

.headerport .boxsize1 {
	height: 200px;
}
.headerport .boxsize2 {
	height: 100px;
}
.headerport .boxsize3 {
	height: 100px;
}
.headerport .boxsize4 {
	height: 300px;
}

.headerport .boxsize1 img{
	height: 200px;
}
.headerport .boxsize2 img{
	height: 100px;
}
.headerport .boxsize3 img{
	height: 100px;
}
.headerport .boxsize4 img{
	height: 300px;
}

.headerport .boxsize2 .onlycolor {
	height: 100px;
}
.headerport .boxsize3 .onlycolor {
	height: 100px;
}

.headerport .boxsize1 h3 {
  font-size: 16px;
  font-weight: 500;
}
.headerport .boxsize2 h3 {
  font-size: 12px;
  font-weight: 500;
}
.headerport .boxsize3 h3 {
  font-size: 12px;
  font-weight: 500;
}
.headerport .boxsize4 h3 {
  font-size: 16px;
  font-weight: 500;
}

.stheader3 {
	height: 500px;
}
.textyslider {
	padding-top: 59px;
	margin-bottom: 45px;
}
.textyslider em {
	font-size: 30px;
}
.textyslider strong {
	font-size: 30px;
}
.textyslider p {
	font-size: 14px;
	line-height: 25px;
	width: 90%;
}

.sky-form2 {
	margin: 0;
	outline: none;
	font: 14px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
	color: #272727;
	
}

.w3-teal, .w3-hover-teal:hover {
    color: #fff!important;
    background-color: #000!important;
}

.w3-right {
    float: right!important;
}

.w3-xlarge {
    font-size: 20px!important;
}


.w3-btn, .w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.w3-btn, .w3-button {
    color: #000;
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 30px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    margin-top: -55px;
    margin-right: 10px;
}

.w3-bar-block .w3-bar-item

{

	color: #000;
	width:100%;
	padding:8px 30px;
	text-align:left;
	border:none;
	outline:none;
	white-space:normal;
	float:none;
	margin: 5px 0px 0px 0px;

}

.w3-block {
    display: inline;
    width: 100%;
}

.w3-left-align {
    text-align: left!important;
    margin-top: 10px;
   
}

.w3-left-align-submenu {
    text-align: left!important;
    margin-top: 10px;
  
}


}



@media only screen and (min-width: 640px) and (max-width: 767px){
.container {
	width: 590px;
	margin: auto;
}
.content_left {
	float: left;
	width: 100%;
	padding: 0px 0px 50px 0px;
}
.right_sidebar {
	float: left;
	width: 100%;
	padding: 0px 0px 50px 0px;
}
.left_sidebar {
	float: left;
	width: 100%;
	padding: 0px 0px 50px 0px;
}
.content_right {
	float: left;
	width: 100%;
	padding: 0px 0px 50px 0px;
}

.one_half, .one_third, .one_fourth, .two_third, .three_fourth, .one_fifth, .onecol_forty, .onecol_sixty, .onecol_thirtyfive {
	margin-right: 0%;
}
.one_half {
	width: 100%;
	margin-bottom: 40px;

}

.one_half img{
	width: 100%;
	
}

.one_third {
	width: 100%;
	margin-bottom: 40px;
}
.one_fourth {
	width: 100%;
	margin-bottom: 40px;
}
.one_fifth {
	width: 100%;
	margin-bottom: 40px;
}
.two_third {
	width: 100%;
	margin-bottom: 40px;
}
.three_fourth {
	width: 100%;
	margin-bottom: 40px;
}
.onecol_forty {
	width: 100%;
	margin-bottom: 40px;
}
.onecol_sixty {
	width: 100%;
	margin-bottom: 40px;
}
.onecol_thirtyfive {
	width: 100%;
	margin-bottom: 40px;
}

.last {
	margin-right: 0 !important;
	margin-bottom: 0 !important;

}

.page_title4 .last  img{
	width: 100%;
	
}

.header #logo{
	background-position: center top;
}

/* bigger logo? remove below comment */
/*.header #logo{
	background-position: center top;
	background-size: 50%;
}*/

.header #logo2{
	background-position: center top;
	margin-top: 6px;
}

/* bigger logo? remove below comment */
/*.header #logo2{
	background-position: center top;
	background-size: 50%;
}*/

.logo {
	width: 100%;
	margin-top: 0px;
}
.menu_main {
	width: 99%;
	margin-left: 1%;
	margin-top: 5px;
}
.menu_right {
	display: none;
}
.menu_right2 {
	display: none;
}

.mstslider {
	padding-top: 80px;
	background: #eee;
}
.mstslider.two {
	padding-top: 0px;
}


.top_nav .left {
	width: 100%;
}
.top_nav .right {
	width: 100%;
}

.top_nav.two {
	height: 75px;
}
.top_nav.two .left {
	text-align: right;
	padding-top: 5px;
}

.top_nav.three {
	height: 75px;
}
.top_nav.three .left {
	text-align: right;
	padding-top: 5px;
}

.top_nav.four {
	height: 75px;
}
.top_nav.four .left {
	text-align: right;
	padding-top: 5px;
}


.title1 h2{
    font-size: 30px;
}
.title1 h2 em{
	margin-top: 0px;
}
.title1 .line{
    width: 57%;
	margin-left: 21%;
}

.title2 h2{
    font-size: 30px;
}
.title2 h2 em{
	margin-top: 0px;
}
.title2 .line{
    width: 53%;
	margin-left: 23%;
}

.features_sec1 {
	padding-bottom: 300px;
}

.features_sec2 .box {
	margin-left: 20px;
}

.features_sec3 .box .right {
	width: 85%;
	margin-left: 4%;
}

.parallax_section1 h2 {
	width: 70%;
}
.parallax_section1 p {
	width: 70%;
}

.parallax_section4 label {
	width: 70%;
	margin: 10px;
}

.parallax_section4 button {
	width: 70%;
	    margin-top: 20px;
}

.parallax_section4 input {
	width: 70%;
	margin-left: 10px;
	background-color: #d4d4d4;
	color:#000;
}

.parallax_section4 .setutech-form {
	
	padding: 10px 0px 25px 0px;
    background-color: #000;

}

.sky-form2 {
	margin: 0;
	outline: none;
	font: 14px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
	color: #272727;
	
}




.features_sec4:before {
	right:0%;
}
.features_sec4 .peosays {
	width: 100%;
	margin-left: 0%;
}

.features_sec6 .fimg {
	width: 100%;
}
.features_sec6 .rbox {
	width: 100%;
	padding: 110px 50px 110px 50px;
}

.features_sec8 .right {
	padding-top: 0px;
	width: 80%;
	margin-left: 7%;
	margin-right: 8%;
	
}
.features_sec8 .left {
	float: none;
	width: 40%;
	margin: 0 auto;
}

.features_sec8 .left img {
	width: 100%;
}

.features_sec9 .tbox img {
	width: 100%;
}

.features_sec13 img {
	width: 100%;
}

.footer .top_footer .colleft,
.footer .top_footer .colright {
	width: 100%;
	margin-top: 30px;
}
.footer .top_footer .colcenter {
	width: 0%;
}

.copyright_info .one_half {
	margin-bottom: 20px;
}
ul.footer_social_links {
	float: left;
}
.footer_social_links li {
	margin: 0px 5px 0px 0px;
}

.page_title2 h1 {
	width: 100%;
	margin-top: 12px;
}
.page_title2 .pagenation {
	float: left;
	width: 100%;
	margin: 5px 0px 0px 0px;
}

.features_sec30 .left {
	width: 10%;
}
.features_sec30 .right {
	width: 90%;
}

.features_sec33 {
	padding-bottom: 120px;
}
.features_sec33 .left {
	padding-top: 0px;
	text-align: center;
}
.features_sec33 .right {
	padding-top: 30px;
	text-align: center;
}

.features_sec34 .box {
	width: 100%;
	margin-bottom: 80px;
}

.features_sec33 .left span,
.features_sec33 .right span {
	float: left;
	margin-left: 45%;
}

.features_sec38 p {
	width: 90%;
}

.features_sec39 .box1,
.features_sec39 .box2,
.features_sec39 .box2.img2,
.features_sec39 .box3 {
	width: 100%;
	background-size: 100%;
}

.features_sec44 .box {
	margin-bottom: 100px;
}

.parallax_section6 {
	padding-bottom: 70px;
}
.parallax_section6 .box {
	margin-top: 100px;
	margin-left: 0%;
}
.hexagon {
	margin-bottom: 110px;
}
.haxmargin {
	margin-top: 0px;
}
.hexagon.two {
	margin-left: 0px;
}

.parallax_section7 .left,
.parallax_section7 .center,
.parallax_section7 .right {
	width: 100%;
}

.features_sec45 .box {
	margin-left: 4%;
}

.page_title3 {
	padding: 100px 0px 100px 0px;
}
.page_title3 h5 {
	width: 100%;
	font-size: 14px;
	line-height: 23px;
}
.page_title3 i {
	font-size: 21px;
	width: 59px;
	height: 59px;
	line-height: 59px;
	margin: 50px 10px 0px 10px;
}

.clogo_small li h6 {
	margin-top: 20px;
	text-align: center;
}
.clogo_small li {
	width: 25%;
}

.features_sec64 .flips1_front img {
	width: 50%;
	height: auto;
}

.portfolio_area_left {
	width: 100%;
}
.portfolio_area_right {
	margin: 59px 0px 0px 0;
	width: 100%;
}

.post_meta_links li {
	width: 100%;
}
.post_meta_links li.post_by {
	width: 33.3%;
}
.post_meta_links li.post_categoty {
	width: 33.3%;
}
.post_meta_links li.post_comments {
	width: 33.3%;
}

.blog_postcontent .video_frame iframe {
	height: 250px;
}


/* UPDATED VERSION 1.2 */
.slidercform {
	float: left;
	width: 400px;
	padding: 37px 40px 40px 40px;
}
.slidercform .sky-form .button {
	width: 84.7%;
}

.slidercform2 {
	width: 270px;
	padding: 20px 25px 30px 25px;
	margin-right: 45px;
	margin-top: -280px;
}
.slidercform2 strong {
	font-size: 18px;
}
.slidercform2 strong em {
	font-size: 9px;
	margin-top: 0px;
}
.slidercform2 .sky-form .input input,
.slidercform2 .sky-form .select select {
	width: 96.5%;
	padding: 3px 5px;
}
.slidercform2 .sky-form .textarea textarea {
	padding: 3px 5px;
}
.slidercform2 span {
	margin-top: 5px;
}


.headerport .left {
	width: 50%;
}
.headerport .center {
	width: 50%;
}
.headerport .right {
	width: 100%;
}

.headerport .boxsize1 {
	height: 250px;
}
.headerport .boxsize2 {
	height: 125px;
}
.headerport .boxsize3 {
	height: 125px;
}
.headerport .boxsize4 {
	height: 375px;
}

.headerport .boxsize1 img{
	height: 250px;
}
.headerport .boxsize2 img{
	height: 125px;
}
.headerport .boxsize3 img{
	height: 125px;
}
.headerport .boxsize4 img{
	height: 375px;
}

.headerport .boxsize2 .onlycolor {
	height: 125px;
}
.headerport .boxsize3 .onlycolor {
	height: 125px;
}

.headerport .boxsize1 h3 {
  font-size: 18px;
  margin-top: 37%;
}
.headerport .boxsize2 h3 {
  font-size: 14px;
  margin-top: 32.5%;
}
.headerport .boxsize3 h3 {
  font-size: 14px;
  margin-top: 16%;
}
.headerport .boxsize4 h3 {
  font-size: 18px;
  margin-top: 30%;
}

.stheader3 {
	height: 450px;
}
.textyslider {
	padding-top: 50px;
	margin-bottom: 40px;
}
.textyslider em {
	font-size: 30px;
}
.textyslider strong {
	font-size: 30px;
}
.textyslider p {
	font-size: 13px;
	line-height: 21px;
	width: 100%;
}

.w3-teal, .w3-hover-teal:hover {
    color: #fff!important;
    background-color: #000!important;
}

.w3-right {
    float: right!important;
}

.w3-xlarge {
    font-size: 20px!important;
}


.w3-btn, .w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.w3-btn, .w3-button {
    color: #000;
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 30px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    margin-top: -55px;
    margin-right: 10px;
}

.w3-bar-block .w3-bar-item

{

	color: #000;
	width:100%;
	padding:8px 30px;
	text-align:left;
	border:none;
	outline:none;
	white-space:normal;
	float:none;
	margin: 5px 0px 0px 0px;

}

.w3-block {
    display: inline;
    width: 100%;
}

.w3-left-align {
    text-align: left!important;
    margin-top: 10px;
 
}

.w3-left-align-submenu {
    text-align: left!important;
    margin-top: 10px;
    
}



}




@media only screen and (min-width: 480px) and (max-width: 639px){
	
.container {
	width: 440px;
	margin: auto;
}

.content_left {
	float: left;
	width: 100%;
	padding: 0px 0px 50px 0px;
}
.right_sidebar {
	float: left;
	width: 100%;
	padding: 0px 0px 50px 0px;
}
.left_sidebar {
	float: left;
	width: 100%;
	padding: 0px 0px 50px 0px;
}
.content_right {
	float: left;
	width: 100%;
	padding: 0px 0px 50px 0px;
}

.one_half, .one_third, .one_fourth, .two_third, .three_fourth, .one_fifth, .onecol_forty, .onecol_sixty, .onecol_thirtyfive {
	margin-right: 0%;
}
.one_half {
	width: 100%;
	margin-bottom: 40px;
}

.one_half img{
	width: 100%;
	
}

.one_third {
	width: 100%;
	margin-bottom: 40px;
}
.one_fourth {
	width: 100%;
	margin-bottom: 40px;
}
.one_fifth {
	width: 100%;
	margin-bottom: 40px;
}
.two_third {
	width: 100%;
	margin-bottom: 40px;
}
.three_fourth {
	width: 100%;
	margin-bottom: 40px;
}
.onecol_forty {
	width: 100%;
	margin-bottom: 40px;
}
.onecol_sixty {
	width: 100%;
	margin-bottom: 40px;
}
.onecol_thirtyfive {
	width: 100%;
	margin-bottom: 40px;
}

.last {
	margin-right: 0 !important;
	margin-bottom: 0 !important;
}

.page_title4 .last  img{
	width: 100%;
	
}

.header #logo{
	background-position: center top;
}

/* bigger logo? remove below comment */
/*.header #logo{
	background-position: center top;
	background-size: 50%;
}*/

.header #logo2{
	background-position: center top;
	margin-top: 6px;
}
/* bigger logo? remove below comment */
/*.header #logo2{
	background-position: center top;
	background-size: 50%;
}*/

.logo {
	width: 100%;
	margin-top: 0px;
}
.menu_main {
	width: 99%;
	margin-left: 1%;
	margin-top: 0px;
}
.menu_right {
	display: none;
}
.menu_right2 {
	display: none;
}

.mstslider {
	padding-top: 80px;
	background: #eee;
}
.mstslider.two {
	padding-top: 0px;
}

.top_nav .left {
	width: 100%;
}
.top_nav .right {
	width: 100%;
}
.top_nav.two {
	height: 75px;
}
.top_nav.two .left {
	text-align: right;
	padding-top: 0px;
}
.top_nav.two .right {
	padding-top: 0px;
}

.top_nav.three {
	height: 75px;
}
.top_nav.three .left {
	text-align: right;
	padding-top: 0px;
}
.top_nav.three .right {
	padding-top: 0px;
}

.top_nav.four {
	height: 58px;
}
.top_nav.four .left {
	text-align: right;
	padding-top: 0px;
}
.top_nav.four .right {
	padding-top: 0px;
}

.title1 h2{
    font-size: 30px;
}
.title1 h2 em{
	margin-top: 0px;
}
.title1 .line{
    width: 77%;
	margin-left: 11.2%;
}

.title2 h2{
    font-size: 30px;
}
.title2 h2 em{
	margin-top: 0px;
}
.title2 .line{
    width: 70%;
	margin-left: 14.3%;
}


.features_sec1 {
	padding-bottom: 300px;
}

.features_sec2 .box {
	margin-left: 18px;
}

.features_sec3 .box .right {
	width: 80%;
	margin-left: 6%;
}

.parallax_section1 h2 {
	width: 90%;
}
.parallax_section1 p {
	width: 90%;
}

.features_sec4 .lblogs {
	width: 48%;
	margin-right: 4%;
}
.features_sec4:before {
	right:0%;
}
.features_sec4 .peosays {
	width: 100%;
	margin-left: 0%;
}

.features_sec6 .fimg {
	width: 100%;
}
.features_sec6 .rbox {
	width: 100%;
	padding: 110px 20px 110px 20px;
}

.features_sec8 .right {
	padding-top: 0px;
	width: 80%;
	margin-left: 7%;
	margin-right: 8%;
	
}
.features_sec8 .left {
	float: none;
	width: 40%;
	margin: 0 auto;
}

.features_sec8 .left img {
	width: 100%;
}

.features_sec9 .tbox img {
	width: 100%;
}

.features_sec13 img {
	width: 100%;
}

.newsletter_two input.enter_email_input {
	width: 210px;
}
.newsletter_two .input_submit {
	padding: 16px 20px 15px 20px;
}

.footer .top_footer .colleft,
.footer .top_footer .colright {
	width: 100%;
	margin-top: 30px;
}
.footer .top_footer .colcenter {
	width: 0%;
}

.copyright_info .one_half {
	margin-bottom: 20px;
}
ul.footer_social_links {
	float: left;
}
.footer_social_links li {
	margin: 0px 5px 0px 0px;
}

.page_title2 h1 {
	width: 100%;
	margin-top: 12px;
}
.page_title2 .pagenation {
	float: left;
	width: 100%;
	margin: 5px 0px 0px 0px;
}

.features_sec33 {
	padding-bottom: 120px;
}
.features_sec33 .left {
	padding-top: 0px;
	text-align: center;
}
.features_sec33 .right {
	padding-top: 30px;
	text-align: center;
}

.features_sec34 .box {
	width: 100%;
	margin-bottom: 80px;
}

.features_sec33 .left span,
.features_sec33 .right span {
	float: left;
	margin-left: 44%;
}

.features_sec38 p {
	width: 90%;
}

.features_sec39 .box1 {
	width: 100%;
}
.features_sec39 .box2,
.features_sec39 .box2.img2 {
	width: 100%;
	background-size: 100%;
}
.features_sec39 .box3 {
	width: 100%;
}

.features_sec44 .box {
	margin-bottom: 100px;
}

.parallax_section6 {
	padding-bottom: 70px;
}
.parallax_section6 .box {
	margin-top: 100px;
	margin-left: 0%;
}
.hexagon {
	margin-bottom: 110px;
}
.haxmargin {
	margin-top: 0px;
}
.hexagon.two {
	margin-left: 0px;
}

.parallax_section7 .left,
.parallax_section7 .center,
.parallax_section7 .right {
	width: 100%;
}

.features_sec45 .box {
	margin-left: 30%;
}

.features_sec49 em {
	display: block;
	margin-top: 30px;
}


.page_title3 {
	padding: 100px 0px 100px 0px;
}
.page_title3 h5 {
	width: 100%;
	font-size: 14px;
	line-height: 23px;
}
.page_title3 i {
	font-size: 21px;
	width: 59px;
	height: 59px;
	line-height: 59px;
	margin: 50px 10px 0px 10px;
}

.clogo_small li h6 {
	margin-top: 18px;
	text-align: center;
}
.clogo_small li {
	width: 30%;
}

.features_sec64 .flips1_front img {
	width: 50%;
	height: auto;
}

.portfolio_area_left {
	width: 100%;
}
.portfolio_area_right {
	margin: 59px 0px 0px 0;
	width: 100%;
}

.post_meta_links li {
	width: 100%;
}
.post_meta_links li.post_by {
	width: 33.3%;
}
.post_meta_links li.post_categoty {
	width: 33.3%;
}
.post_meta_links li.post_comments {
	width: 33.3%;
}

.blog_postcontent .video_frame iframe {
	height: 250px;
}


/* UPDATED VERSION 1.2 */
.slidercform {
	float: left;
	width: 440px;
	padding: 37px 40px 40px 40px;
}
.slidercform .sky-form .button {
	width: 85.8%;
}

.slidercform2 {
	width: 440px;
	padding: 40px 35px 50px 35px;
	margin-top: 0px;
	border-radius: 0px;
}
.slidercform2 strong {
	font-size: 27px;
}
.slidercform2 strong em {
	font-size: 12px;
	margin-top: 5px;
}
.slidercform2 .sky-form .input input,
.slidercform2 .sky-form .select select {
	width: 98.8%;
}
.slidercform2 span {
	margin-top: 10px;
}

.headerport .left {
	width: 100%;
}
.headerport .center {
	width: 100%;
}
.headerport .right {
	width: 100%;
}

.stheader3 {
	height: 450px;
}
.textyslider {
	padding-top: 50px;
	margin-bottom: 40px;
}
.textyslider span.text {
	margin-bottom: 30px;
}
.textyslider em {
	font-size: 30px;
	display: block;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.textyslider strong {
	font-size: 30px;
	display: block;
}
.textyslider p {
	font-size: 13px;
	line-height: 21px;
	width: 100%;
}

.parallax_section4 label {
	width: 70%;
	margin: 10px;
}

.parallax_section4 button {
	width: 70%;
	    margin-top: 20px;
}

.parallax_section4 input {
	width: 70%;
	margin-left: 10px;
	background-color: #d4d4d4;
	color:#000;
}

.parallax_section4 .setutech-form {
	
	padding: 10px 0px 25px 0px;
    background-color: #000;

}

.sky-form2 {
	margin: 0;
	outline: none;
	font: 14px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
	color: #272727;
	
}

.w3-teal, .w3-hover-teal:hover {
    color: #fff!important;
    background-color: #000!important;
}

.w3-right {
    float: right!important;
}

.w3-xlarge {
    font-size: 20px!important;
}


.w3-btn, .w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.w3-btn, .w3-button {
    color: #000;
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 30px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    margin-top: -55px;
    margin-right: 10px;
}

.w3-bar-block .w3-bar-item

{

	color: #000;
	width:100%;
	padding:8px 30px;
	text-align:left;
	border:none;
	outline:none;
	white-space:normal;
	float:none;
	margin: 5px 0px 0px 0px;

}

.w3-block {
    display: inline;
    width: 100%;
}

.w3-left-align {
    text-align: left!important;
    margin-top: 10px;
 
}

.w3-left-align-submenu {
    text-align: left!important;
    margin-top: 10px;
   
}




}





@media only screen and (max-width: 479px){

.container {
	width:300px;
	margin: auto;
}

.content_left {
	float: left;
	width: 100%;
	padding: 0px 0px 50px 0px;
}
.right_sidebar {
	float: left;
	width: 100%;
	padding: 0px 0px 50px 0px;
}
.left_sidebar {
	float: left;
	width: 100%;
	padding: 0px 0px 50px 0px;
}
.content_right {
	float: left;
	width: 100%;
	padding: 0px 0px 50px 0px;
}

.one_half, .one_third, .one_fourth, .two_third, .three_fourth, .one_fifth, .onecol_forty, .onecol_sixty, .onecol_thirtyfive {
	margin-right: 0%;
}
.one_half {
	width: 100%;
	margin-bottom: 40px;
}
.one_half img{
	width: 100%;
	
}

.one_third {
	width: 100%;
	margin-bottom: 40px;
}
.one_fourth {
	width: 100%;
	margin-bottom: 40px;
}
.one_fifth {
	width: 100%;
	margin-bottom: 40px;
}
.two_third {
	width: 100%;
	margin-bottom: 40px;
}
.three_fourth {
	width: 100%;
	margin-bottom: 40px;
}
.onecol_forty {
	width: 100%;
	margin-bottom: 40px;
}
.onecol_sixty {
	width: 100%;
	margin-bottom: 40px;
}
.onecol_thirtyfive {
	width: 100%;
	margin-bottom: 40px;
}

.last {
	margin-right: 0 !important;
	margin-bottom: 0 !important;
}

.page_title4 .last img{
	width:100%;
}

.header #logo{
	background-position: center top;
}

/* bigger logo? remove below comment */
/*.header #logo{
	background-position: center top;
	background-size: 50%;
}*/

.header #logo2{
	background-position: center top;
	margin-top: 6px;
}
/* bigger logo? remove below comment */
/*.header #logo2{
	background-position: center top;
	background-size: 50%;
}*/

.logo {
	width: 100%;
	margin-top: 0px;
}
.menu_main {
	width: 99%;
	margin-left: 1%;
	margin-top: 0px;
}
.menu_right {
	display: none;
}
.menu_right2 {
	display: none;
}

.mstslider {
	padding-top: 80px;
	background: #eee;
}
.mstslider.two {
	padding-top: 0px;
}

.top_nav .left {
	width: 100%;
}
.top_nav .right {
	width: 100%;
}
.top_nav.two {
	height: 75px;
}
.top_nav.two .left {
	text-align: right;
	padding-top: 0px;
}
.top_nav.two .right {
	padding-top: 0px;
}

.top_nav.three {
	height: 75px;
}
.top_nav.three .left {
	text-align: right;
	padding-top: 0px;
}
.top_nav.three .right {
	padding-top: 0px;
}

.top_nav.four {
	height: 75px;
}
.top_nav.four .left {
	text-align: right;
	padding-top: 0px;
}
.top_nav.four .right {
	padding-top: 0px;
}

.title1 h2{
    font-size: 25px;
}
.title1 h2 em{
	margin-top: 0px;
}
.title1 .line{
    width: 90%;
	margin-left: 5%;
}

.title2 h2{
    font-size: 25px;
}
.title2 h2 em{
	margin-top: 0px;
}
.title2 .line{
    width: 90%;
	margin-left: 5%;
}

.features_sec1 {
	padding-bottom: 300px;
}

.features_sec2 .box {
	margin-left: 14px;
}

.features_sec3 .box .left {
	margin-left: 121px;
}

.features_sec3 .box .right {
	width: 100%;
	margin-left: 0%;
	text-align: center;
}

.parallax_section1 h2 {
	width: 100%;
}
.parallax_section1 p {
	width: 100%;
}

.features_sec4 .lblogs {
	width: 100%;
	margin-right: 0%;
	margin-bottom: 40px;
}
.features_sec4:before {
	right:0%;
}
.features_sec4 .peosays {
	width: 100%;
	margin-left: 0%;
}

.features_sec6 .fimg {
	width: 100%;
}
.features_sec6 .rbox {
	width: 100%;
	padding: 110px 20px 110px 20px;
}
.features_sec6 .ibox {
	width: 100%;
	margin-right: 0%;
	margin-bottom: 40px;
}
.features_sec6 .ibox.last {
	margin-bottom: 0px;
}

.features_sec8 .right {
	padding-top: 0px;
	width: 80%;
	margin-left: 7%;
	margin-right: 8%;
	
}
.features_sec8 .left {
	float: none;
	width: 100%;
	margin: 0 auto;
}

.features_sec8 .left img {
	width: 100%;
}

.features_sec9 .tbox img {
	width: 100%;
}

.features_sec13 img {
	width: 100%;
}

.newsletter_two input.enter_email_input {
	width: 100px;
}
.newsletter_two .input_submit {
	padding: 16px 5px 15px 5px;
}

.footer .top_footer .colleft,
.footer .top_footer .colright {
	width: 100%;
	margin-top: 30px;
}
.footer .top_footer .colcenter {
	width: 0%;
}

.copyright_info .one_half {
	margin-bottom: 20px;
}
ul.footer_social_links {
	float: left;
}
.footer_social_links li {
	margin: 0px 5px 0px 0px;
}

.page_title2 h1 {
	width: 100%;
	margin-top: 12px;
}
.page_title2 .pagenation {
	float: left;
	width: 100%;
	margin: 5px 0px 0px 0px;
}

.features_sec30 .left {
	width: 20%;
}
.features_sec30 .right {
	width: 80%;
}

.features_sec33 {
	padding-bottom: 120px;
}
.features_sec33 .left {
	padding-top: 0px;
	text-align: center;
}
.features_sec33 .right {
	padding-top: 30px;
	text-align: center;
}

.features_sec34 .box {
	width: 100%;
	margin-bottom: 80px;
}

.features_sec33 .left span,
.features_sec33 .right span {
	float: left;
	margin-left: 41%;
}

.features_sec38 p {
	width: 95%;
}

.features_sec39 .box1 {
	width: 100%;
}
.features_sec39 .box2,
.features_sec39 .box2.img2 {
	width: 100%;
	background-size: 100%;
}
.features_sec39 .box3 {
	width: 100%;
}

.features_sec44 .box {
	margin-bottom: 100px;
}

.parallax_section6 {
	padding-bottom: 70px;
}
.parallax_section6 .box {
	margin-top: 100px;
	margin-left: 21%;
}
.hexagon {
	margin-bottom: 110px;
}
.haxmargin {
	margin-top: 0px;
}
.hexagon.two,
.hexagon.three,
.hexagon.four,
.hexagon.five {
	margin-left: 0px;
}

.parallax_section7 .left,
.parallax_section7 .center,
.parallax_section7 .right {
	width: 100%;
}

.features_sec45 .box {
	margin-left: 20%;
}

.features_sec49 strong {
	font-size: 27px;
	padding: 5px 12px;
}
.features_sec49 em {
	display: block;
	margin-top: 30px;
}

.page_title .title h1 {
	font-size: 40px;
}
.page_title h3 {
	font-size: 18px;
	line-height: 21px;
}
.page_title h5 {
	font-size: 14px;
	line-height: 18px;
}

.page_title3 {
	padding: 70px 0px 70px 0px;
}
.page_title3 .title h1 {
	font-size: 40px;
}
.page_title3 h5 {
	width: 100%;
	font-size: 14px;
	line-height: 21px;
}
.page_title3 i {
	font-size: 18px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	margin: 40px 10px 0px 10px;
}

.clogo_small li h6 {
	margin-top: 14px;
	text-align: center;
}
.clogo_small li {
	width: 33.3%;
}

.features_sec64 .flips1_front img {
	width: 100%;
	height: auto;
}

.portfolio_area_left {
	width: 100%;
}
.portfolio_area_right {
	margin: 59px 0px 0px 0;
	width: 100%;
}

.post_meta_links li {
	width: 100%;
}
.post_meta_links li.post_by {
	width: 50%;
}
.post_meta_links li.post_categoty {
	width: 50%;
}
.post_meta_links li.post_comments {
	width: 50%;
}

.blog_postcontent .video_frame iframe {
	height: 180px;
}

/* UPDATED VERSION 1.2 */
.slidercform {
	float: left;
	width: 300px;
	padding: 37px 20px 40px 20px;
}
.slidercform .sky-form .button {
	width: 85.8%;
}
.slidercform strong {
	font-size: 18px;
}
.slidercform strong em {
	font-size: 10px;
	font-weight: 400;
	margin-top: 3px;
}

.slidercform2 {
	width: 300px;
	padding: 40px 25px 50px 25px;
	margin-top: 0px;
	border-radius: 0px;
}
.slidercform2 strong {
	font-size: 18px;
}
.slidercform2 strong em {
	font-size: 10px;
	margin-top: 5px;
}
.slidercform2 .sky-form .input input,
.slidercform2 .sky-form .select select {
	width: 97.4%;
}
.slidercform2 span {
	margin-top: 10px;
}

.headerport .left {
	width: 100%;
}
.headerport .center {
	width: 100%;
}
.headerport .right {
	width: 100%;
}

.headerport .boxsize1 h3 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 45%;
}
.headerport .boxsize2 h3 {
  font-size: 14px;
  font-weight: 500;
  margin-top: 35%;
}
.headerport .boxsize3 h3 {
  font-size: 14px;
  font-weight: 500;
  margin-top: 20%;
}
.headerport .boxsize4 h3 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 67%;
}

.stheader3 {
	height: 400px;
}
.textyslider {
	padding-top: 40px;
	margin-bottom: 30px;
}
.textyslider span.text {
	margin-bottom: 25px;
}
.textyslider em {
	font-size: 25px;
	display: block;
	margin-bottom: 16px;
	padding-bottom: 16px;
}
.textyslider strong {
	font-size: 25px;
	display: block;
}
.textyslider p {
	font-size: 13px;
	line-height: 21px;
	width: 100%;
}

.parallax_section4 label {
	width: 70%;
	margin: 10px;
}

.parallax_section4 button {
	width: 70%;
	margin-top: 20px;
}

.parallax_section4 input {
	width: 70%;
	margin-left: 10px;
	background-color: #d4d4d4;
	color:#000;
}

.parallax_section4 .setutech-form {
	
	padding: 10px 0px 25px 0px;
    background-color: #000;

}

.sky-form2 {
	margin: 0;
	outline: none;
	font: 14px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
	color: #272727;
	
}

.w3-teal, .w3-hover-teal:hover {
    color: #fff!important;
    background-color: #000!important;
}

.w3-right {
    float: right!important;
}

.w3-xlarge {
    font-size: 20px!important;
}


.w3-btn, .w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.w3-btn, .w3-button {
    color: #000;
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 30px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    margin-top: -55px;
    margin-right: 10px;
}

.w3-bar-block .w3-bar-item

{

	color: #000;
	width:100%;
	padding:8px 30px;
	text-align:left;
	border:none;
	outline:none;
	white-space:normal;
	float:none;
	margin: 5px 0px 0px 0px;

}

.w3-block {
    display: inline;
    width: 100%;
}

.w3-left-align {
    text-align: left!important;
    margin-top: 10px;
   
}

.w3-left-align-submenu {
    text-align: left!important;
    margin-top: 10px;
   
}


}